
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<div class="container">
    <br/>
	<div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <form class="card card-sm">
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                    <!--end of col-->
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" type="search" name = "searchInput" [(ngModel)]="searchInput" placeholder="Search topics or keywords">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-success" type="submit" (click)="searchEntries()">Search</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
					</div>
<div>
          <div class="container" style="margin-right: -30px;margin-top: 54px;">
    		<table class="table table-striped">
    			<thead>
    				<tr>
    					<th>plan name</th>
						<th>type</th>
						<th></th>
						<th></th>
    				</tr>
    			</thead>
    			<tbody>
    				<tr>
						<th rowspan="2">Telephone:</th>
						<td>555 77 854</td>
						<td>7890</td>
						<td>7890</td>
					</tr>
					<tr>
						<td>555 77 855</td>
						<td> 7890</td>
						<td>7890</td>
					</tr>	
    			</tbody>
    		</table>
    	</div>
	</div>
</div>

